.mainContent { 
    width: 98vw;
    height: 50vh;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 9fr;
    margin-right: 2fr;
}

.containerDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid black;
}

.locationDetails, .currentDetails {
    display: grid;
    border: 1px solid black;
}

.locationDetails>div, .currentDetails>div {
    display: grid;
    border: 1px solid black;
}

.swal-overlay {
    background-color: rgba(111, 175, 9, 0.568);
}

.swal-modal {
    border: 5px solid red;
}